TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here
AIRFLOW_UID=50000
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=twitch_app
CLICKHOUSE_PASSWORD=change_me_clickhouse
CLICKHOUSE_DATABASE=twitch
FERNET_KEY=your_fernet_key_here